body {
    background-color: #d9d9d9;
}
p {
    font-family: Georgia;
}
.form-register {
    text-align: center;
}    
.p-firstname{
    position: relative;
    right: 32px;
    margin: 8px;
}
.p-lastname{
    position: relative;
    right: 33px;
    margin: 8px;
}
.p-email{
    position: relative;
    right: 51px;
    margin: 8px;
}   
.p-username{
    position: relative;
    right: 35px;
    margin: 8px;
}   
.p-password{
    position: relative;
    right: 37px;
    margin: 8px;
}
.p-verify{
    position: relative;
    right: 4px;
    margin: 8px;
}
.text {
    margin-bottom: 0;
    color: green;
    font-family: Georgia;
}
.box{
    position: absolute;
    right: 100px;
    left: 50%;
    width: 350px;
    height: 450px;
    border: 3px solid black;
}